@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    /*background-image: url("https://i.ibb.co/5sM8B9W/image.png"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: overlay;

    background-color: rgb(70, 70, 70);

    color:white;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    min-height: 100vh;
}

header {
    position: fixed;
    z-index: 5;
}

header nav {
    margin: 0;
    padding-left: 5px;
    background-color: rgb(15, 15, 15);
    position: fixed;
    width: 100%;
    display: flex;
}

header nav ul {
    padding: 0;
    margin: 0;
    
}

header nav ul li {
    list-style-type: none;
    display: inline;
    border-right: white solid 2px;
}

header nav div.wix {
    margin: auto 10px auto auto;
    border-left: white solid 2px;
}

h1.title {
    text-align: center;
    padding: 20px;
    margin-top: 38px;
    background-color: #45b077;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    margin-right: 2px;

}

a:hover {
    color: grey;
}

li.active a {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

section {
    text-align: center;
}



footer {
    background-color: #45b077;
    padding: 20px;

    font-size: 12px;
    text-align: end;

}


/* Index.html */

body.index {
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/280/351/original/dark-red-yellow-modern-blurred-background-vector.jpg");
    align-items: center;
    display: flex;
    flex-direction: column;
}

section.index {
    font-size: 36px;
    padding-top: 150px;
    padding-bottom: 10px;
    
}

section.index h1 {
    font-size: 72px;
    margin: 20px;
}

body.index nav {
    background-color: rgba(175, 175, 175, 0);
    flex-direction: column;
    margin-top: 50px;
}

section.nav-index a{
    height: fit-content;
}
section.nav-index nav div {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0 ,0);


}

body.index button {
    background-color: rgba(16, 24, 35, 0);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border-color: white;
    width: 168px;
    height: 60px;
}

body.index button:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

@media all and (min-width: 1920px) {
    section.index {
        font-size: 48px;
        padding-top: 150px;
        padding-bottom: 10px;
    }

    section.index h1 {
        font-size: 96px;
    }

    body.index button {
        border-radius: 10px;
        width: 210px;
        height: 75px;
        font-size: 24px;
    }

}


/* À-propos */

body.a-propos {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

body.a-propos p {
    padding: 50px;
    font-size: 18px;
}

section.img {
    padding-top: 20px;
    padding-bottom: 150px;
    display: flex;
}

section.img div{
    flex-direction: row;
    margin:auto;
    width: 256px;
    height: 256px;
    background-color: grey;
}

body.a-propos img {
    overflow: hidden;
    border: 5px solid black;
}

body.a-propos footer {
    margin-top: auto;
}

/* Travail*/

body.travail {
    display: flex;
    flex-direction: column;
}

body.travail div.blur {
    position: absolute;
    background-color: rgba(175, 175, 175, 0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    position: fixed;
}

body.travail div.pop-up {
    height: 80%;
    width: 80%;
    background-color: rgb(15, 15, 15);
    z-index: 3;
    display: flex;
    flex-direction: column;
    margin: auto;
}

body.travail div.pop-up h1 {
    margin: 20px;
    font-size: 48px;
}
body.travail div.pop-up p {
    text-align: center;
    margin: 10%;
    font-size: 24px;
}

body.travail div.pop-up button {
    border: solid 3px white;
    background-color: rgb(0, 138, 108);
    font-size: 32px;
    color: white;
    width: 25%;
    margin: auto;
    justify-content: center;
}

body.travail div.pop-up button:hover{
    cursor: pointer;
    background-color: rgb(0, 110, 86);
}

section.Valorant-Stats {
    background-color: rgb(51, 51, 51);
    height: 320px;
    margin: 50px 0px 50px 0px;
}

div.Simon h1 {
    text-align: start;
    padding-left: 20px ;
}

/* Vidéos */

body.videos {
    display: flex;
    flex-direction: column;
}

section.div-title  {
    text-align: center;
    padding: 20px;
    width: 720px;
    margin: auto;
    font-size: 18px;
}

section.videos div {
    background-color: rgb(15, 15, 15);
    text-align: center;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;

    margin-bottom: 100px;
    height: 405px;
    width: 720px;

    color: white;
    font-size: 28px;
}

.progress {
    position: fixed;
    top: 38px;
    width: 100%;
    z-index: 1;
  }
  
.progress-container {
    background-color: rgba(150, 150, 150, 0.6);
    height: 5px;
    width: 100%;
}
  
.progress-bar {
    background-color: white;
    height: 5px;
    width: 0%;
}

/* Casavant */

.Casavant {

}

.hidden {
    opacity: 0;
    filter: blur(8px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    
}

.debug {
    display: block;
    width: auto;
    height: 20px;
}
.Casavant section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.Casavant h1 {
    font-size: 72px;
    margin-bottom: 0;
}

.Casavant p {
    font-size: 36px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 100px;
    min-width: 100vw;
    min-height: 100vh;
    gap: 20px;
    padding: 40px;
    box-sizing: border-box;
}

.grid div {
    background-color: rgb(70, 70, 70);
    border: white 2px solid
}

.grid h1 {
    margin: auto;
}

.project {
    grid-column-start: 1;
    grid-column-end: 3;
}

.student {
    display: grid;
    grid-column-start: 2;
    grid-column-start: 3;
}

.display {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.desc {
    grid-row-start: 2;
    grid-row-end: 4;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

/* Valorant */

.valorant {
    display: flex;
    flex-direction: column;
    background-color: rgb(199, 199, 199)
}
.image-header {
    width: 100%;
    height: 100%;
    margin: auto;
}

.textbox {
    margin: auto;
    border-left: grey 1px solid;
    border-right: grey 1px solid;
    color: rgb(15, 15, 15);
}


.textbox h1 {
    font-size: 78px;
    margin-top: 100px;
    width: 1080px;
    padding: 10px;
}
.textbox 

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 15px;
    height: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 138, 108); 
  }


/*@media all and (max-width: 2560px) {
    div {
        height: auto;
       font-size: 120%;
    }

}

@media all and (max-width: 1920px) {
    div {
        height: auto;
        font-size: 120%;
    }
}

@media all and (max-width: 1366px) {
    div {
        background-color: red;
    }

}