body {
    background-image: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(16, 24, 35);
}

nav {
    display: flex;
}

a.navigation {
    background-color: none;
    flex: auto;
    text-align: center;
    padding: 20px;
}

header h1 {
    text-align: center;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: red;
}

section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

section.div-title  {
    width: 720px;
    text-align: center;
}

section div {
    background-color: rgb(15, 15, 15);
    text-align: center;
    font-weight: bold;

    margin-bottom: 100px;
    height: 405px;
    width: 720px;

    color: white;
    font-size: 28px;
}



/* header .logo a {
    background-image: url(https://external-preview.redd.it/bmDh9_qESHwrO5D8T72FkfirR5uurxVw_lTzbBLfCOA.jpg?auto=webp&s=dabf9c55680b7c574efbc8bb699a132d59496ff4);
    background-size: 64px;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -999999px;
    width: 64px;
    height: 64px;
    
}
*/
footer {
    background-color: rgb(16, 24, 35);
    padding: 20px;
}

/*@media all and (max-width: 2560px) {
    div {
        height: auto;
       font-size: 120%;
    }

}

@media all and (max-width: 1920px) {
    div {
        height: auto;
        font-size: 120%;
    }
}

@media all and (max-width: 1366px) {
    div {
        background-color: red;
    }

}
